<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>User Tasks</title>

    <style>
      .container table.table {
        width: 1000px;
        padding: 40px;
        border: 1px solid lightgray;
      }

      .container table.table thead {
        background-color: #1cb27b;
        color: white;
      }
      .container thead tr th {
        text-align: center;
        font-family: monospace;
        font-size: 22px;
        padding: 10px;
      }
      .container .table tbody#data tr {
        background-color: #f55549;
        color: white;
      }
      .container .table tbody#data tr td {
        padding: 7px;
        font-size: 18px;
        font-weight: 500;
        font-family: sans-serif;
        text-transform: capitalize;
      }
      center h2 {
        font-family: sans-serif;
        font-size: 30px;
        padding: 10px 0px;
        color: darkcyan;
      }
      input#add_task {
    height: 20px;
    width: 600px;
    border: 2px solid lightblue;
    padding: 15px;
    font-size: 16px;
}
button {
    margin: 5px 10px;
    font-size: 16px;
    background-color: #000080;
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    border: navajowhite;
}
.popup_box {
    width: 500px;
    background-color: gainsboro;
    border-radius: 20px;
}
input#update_field {
    width: 300px;
    height: 20px;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}
.popup_box {
    width: 500px;
    background-color: gainsboro;
    border-radius: 20px;
    padding: 100px 20px;
}
    </style>
  </head>
  <body>
    <center>
      <h2>This Task Page All of User</h2>
      <div class="input_text1">
        <form id="form">
          <input type="text" placeholder="Add Task" id="add_task" />
          <div class="clearfix"></div>
        </form>
        <button onclick="addTask()" class="">Add Task</button>
       
      <div class="popup_box" style="display: none;">
      <input id="update_field" type="text" />
      <button class="update_btn">Update</button>
      </div>  

        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Owner</th>
                <th>Update - Delete</th>
              </tr>
            </thead>
            <tbody id="data"></tbody>
          </table>
        </div>
      </div>
    </center>

    <script>

const popupBox = document.querySelector(".popup_box");
const updBtn = document.querySelector(".update_btn");
const updateField = document.querySelector("#update_field");


      fetch("http://localhost:4000/usertask/")
        .then((response) => response.json())
        .then((data) => {
          let allData = data;
          // console.log("All Data >>>", allData);
          if (allData.length > 0) {
            var temp = "";
            var index = 0;
            allData.forEach((itemData, index) => {
              temp += "<tr>";
              temp += "<td>" + (index + 1) + "</td>";
              // temp += "<td>" + itemData._id + "</td>";
              temp += "<td>" + itemData.name + "</td>";
              temp += "<td>" + itemData.status + "</td>";
              temp += "<td>" + itemData.owner + "</td>";
              temp +=
                "<td>" +
                `<button class='update_task' data-id='${itemData._id}' data-name='${itemData.name}'>Update</button>` +
                `<button class='delete_task' data-id='${itemData._id}'>Delete</button>` +
                "</td>";
              temp += "</tr>";
              // console.log("Temp>>>", temp);
            });
            document.getElementById("data").innerHTML = temp;
      
        ////////Delete Task /////////

            const deleteBtn = document.querySelectorAll(".delete_task");
            deleteBtn.forEach((item) => {
              item.addEventListener("click", (e) => {
                const btnId = e.target.getAttribute("data-id");
                const deleteTask = async () => {
                  await fetch(`http://localhost:4000/tasks/${btnId}`, {
                    method: "DELETE",
                  }).then((res) => console.log(res.json()));
                };
                deleteTask();
              });
            });

        
          //////// Update Task /////////   

            const updateBtn = document.querySelectorAll(".update_task");
            updateBtn.forEach((item) => {
              item.addEventListener("click", (e) => {
                const Update_Id = e.target.getAttribute("data-id");
                const updateName = e.target.getAttribute("data-name");
                popupBox.style.display = "block";
                updateField.value = updateName;

                const updateTask = async () => {
                  await fetch(`http://localhost:4000/tasks/${Update_Id}`, {
                    method: "PATCH",
                    headers: {
                      "Content-type": "application/json; charset=UTF-8",
                    },
                    body: JSON.stringify({
                      name: updateField.value
                    }),
                  }).then((res) => console.log(res.json()));
                };


                updBtn.addEventListener("click", () => {
                  updateTask();
                  popupBox.style.display = "none";
                })

                

              });
            });
          }
        })
        .catch((error) => console.log(error));

      //Create Taskk////

      const addTask = async () => {
        await fetch("http://localhost:4000/tasks/", {
          method: "POST",
          body: JSON.stringify({
            name: document.getElementById("add_task").value,
          }),

          // Adding headers to the request
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        })
          .then((res) => console.log(res.json()))
          .catch((err) => console.error(err));
      };

   
    </script>
  </body>
</html>
